@page
@model AboutModel
@{
    ViewData["Title"] = "О приложении";
}
<h1>@ViewData["Title"]</h1>

<h2>Перечень обязательных страниц:</h2>
<ul>
    <li>Главная страница</li>
    <li>О приложении (разместить настоящее техническое задание)</li>
    <li>Контакты (указать ФИО, фотографию и контакты разработчика: номер мобильного телефона, адрес электронной почты, Viber, Telegram).</li>
    <li>Страница со списком товаров</li>
    <li>Страница для редактирования списка товаров</li>
    <li>Страница со списком складов и возможностью редактирования информации о выбранном складе.</li>
</ul>

<h2>Требования к функционалу страниц:</h2>
    На странице, содержащей контактные данные разработчика, при щелчке на фотографию должно открываться всплывающее окно с фотографией (более крупного размера) и ФИО разработчика.
    На страницах, содержащих информацию о разработчике и приложении, реализовать возможность печати блока базовой информации.

<h2>Требования к структуре базы данных:</h2>
    Создать хранимую процедуру для поиска товаров по наименованию.
<br>
<br>
    Среда разработки: Microsoft Visual Studio
<br>
    Требование к платформе приложения: .Net Core v2.1 - .NetCore v3.0
<br>
    Требование к базе данных: Microsoft SQL
</p>


