@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Тестовое задание по c#</h1>
    <p>Главная страница тестового задания</p>
</div>
